@import url('https://fonts.googleapis.com/css?family=Cantata+One|Imprima')

$font-base: 'Cantata One', serif
$base: 'Imprima', sans-serif

$base-line-height: 1.5
$text-color:       #697a89
$background-color: #eff0f2
$link-color:       #36a1f0
$hover-color:      #007bff
$base-font-size:   21px
$small-font-size:  $base-font-size * 0.875

// Width of the content area
$content-width:    800px

// Selection colors (easy to forget)

::selection
  background: $link-color
  color: white

::-moz-selection
  background: $link-color
  color: white

img::selection
  background: transparent

img::-moz-selection
  background: transparent

// styles
body
  background-color: $background-color
  color: $text-color
  line-height: $base-line-height
  -webkit-tap-highlight-color: $link-color
  font-size: $base-font-size

h1, h2, h3, h4, h5, h6
  font-family: $font-base
  font-weight: 700
  color: #022144

hr
  color: #2f3f46 !important
  width: 100%

p, a, li
  font-family: $base
  font-weight: 500

a
  color: $link-color
  text-decoration: none
  &:hover
    color: $hover-color

.container
  max-width: $content-width
  margin: 0 auto
  padding: 0 1rem

  display: flex
  flex-direction: column
  flex-wrap: wrap

.date
  color: $link-color
  font-size: $small-font-size
  font-weight: 700

.img-logo
  height: 15rem
  margin: 0 auto
  display: block

code
  padding: 0.15rem
  // display: block
  font-family: $font-base
  background-color: #122b3b
  border-radius: 3px
  color: white

.highlight
  border-radius: 3px

pre
  padding: 0.25rem
  @media (max-width: 830px)
    overflow: scroll
  
.img-responsive
  max-width: 100%
  height: auto
  object-fit: contain
  @media (max-width: 830px)
    margin: 0 auto