mixin nav-content()
	ul
		li: a(href="#about") About
		li: a(href="#latest-work") Latest Work
		li: a(href="#devops") DevOps
		//- li: a(href="#pens") Pens
		//- li: a(href="#code-stream") Code Stream
		li: a(href="#articles") Articles
		li: a(href="#contact") Contact

//- is.open class
.mobile-nav
	+nav-content()

header
	.header-position
		h1.logo Carlos Gomez

		nav.site-nav
			+nav-content()
		
		.social-wrap
			a(href="https://twitter.com/xxrasalghulxx" target="_blank").social.icon-twitter
			a(onclick='swal({title: "Find me on Telegram", text: "@xXRasAlGhulXx", imageUrl: "http://i.imgur.com/D9yFQTv.png"})').social.icon-telegram
				
				
			
		.mobile-nav-toggle: span
				
