section.latest_work
  .flex.flex--center
    .col-50.flex.flex--center.bkg-work
      .col-1
        p.home-lead.outdented.padding_t ...Making websites for Startups...
        a(target="_blank" href="https://carlosgomez2.github.io/dc-m/").home-cta VIEW MY LATEST PROJECT
    .col-50
      .row-1-3.img1
      .row-1-3.img2
      .row-1-3.img3
