mixin thumb
  a(href="#" style="background-image: url(http://fillmurray.com/230/500)").article-thumb
    .article-meta
      .name Article Name
      .date 24, Apr 2016

section#articles.articles
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        .desc-wrap
          p.home-lead.outdented ...Writing and posting articles...
          a(target="_blank" href="/posts").home-cta SEE ALL ARTICLES
  
    .col-50
      .article-wrap
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
