section.what_i_do
  .flex.flex--space-around.tech-wrapper
    .col-1.col-tech
      h4.tech-h4 Frontend
      p.tech-p CSS3, JS, HTML5, jQuery, Bootstrap
      h4.tech-h4 Backend
      p.tech-p RoR, Ruby, MySQL, PostgreSQL, Devops, Bash
      h4.tech-h4 E-Commerce
      p.tech-p SpreeCommerce
      h4.tech-h4 CMS
      p.tech-p Jekyll
      h4.tech-h4 Cloud
      p.tech-p Heroku, Digital Ocean, AWS, Microsoft Azure
      h4.tech-h4 VCS
      p.tech-p Git, Github, Gitlab
    .col-1.col-tech-lead.order-first
      p.home-lead.outdented.tech ...Having fun with these technologies...
