section#latest-work.latest_work
  .flex.flex--center
    .col-50.flex.flex--center.bkg-work
      .col-1
        p.home-lead.outdented.padding_t ...Making some Apps & websites...
        a(target="_blank" href="https://carlosgomez2.github.io/restaurante-el-timbre/").home-cta SEE MY LAST PROJECT
    .col-50
      .row-1-3.img1.row-1-3-custom
        a(target="_blank" href="#").work-link Medicus-app
      .row-1-3.img2.row-1-3-custom
        a(target="_blank" href="https://carlosgomez2.github.io/restaurante-el-timbre/").work-link Restaurante El Timbre
      .row-1-3.img3.row-1-3-custom
        a(target="_blank" href="https://carlosgomez2.github.io/dc-m/").work-link DC&M Abogados
