section.social-mobile
  .social-icons
    a(href="https://github.com/carlosgomez2" target="_blank" rel="noopener noreferrer" ).gh.social-mobile.icon-github
  .social-icons
    a(href="https://www.linkedin.com/in/carlos-gómez-671569108" target="_blank" rel="noopener noreferrer" ).in.social-mobile.icon-linkedin
  .social-icons
    a(href="https://twitter.com/xxrasalghulxx" target="_blank" rel="noopener noreferrer" ).tw.social-mobile.icon-twitter
  .social-icons
    a(onclick='swal({title: "Find me on Telegram", text: "@xXRasAlGhulX", imageUrl: "http://i.imgur.com/D9yFQTv.png"})').tg.social-mobile.icon-telegram
