section#script.script
  .flex.flex--space-around.bkg-script
    .col-1.img-fix.img-big
        .img-container
    .col-1
      p.home-lead.outdented ...Finding fancy lazy ways to make things happen...
      a(target="_blank" href="https://gitlab.com/rasalghul/Ubuntu-Instaleitor").home-cta.cta-min-font CHECK OUT THE WAY
