//---------- Colors ----------//
$primary-color: #141b1d
$secondary-color: #8c00fc
$text-color: white
$text-color-header: #979797
$accent-color: #00fc8c
$bg-color: #141b1d
$link-color: $accent-color
$selection-color: lighten(#8c00fc, 4%)
