section.articles
  background:
    image: url(https://cdn.rawgit.com/carlosgomez2/cg-blog/master/assets/img/write_2.png) !important
    size: cover
    repeat: no-repeat

  .col-1
    display: flex
    align-items: center

    @media (min-width: 640px)
      padding-bottom: 0 !important

  .article-wrap
    display: block
    a
    .article-thumb
      display: block
      background:
        size: cover
        position: center
      width: 33.33%
      float: left
      position: relative
      overflow: hidden

      &:after
        content: ''
        display: block
        padding-top: 100%

    .article-meta
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: fade-out($selection-color, 0.4)
      color: white
      padding: 10px

      transform: translate(0%, 100%) scale (0.5)
      transition: all 0.8s cubic-bezier(0.74, 0.24, 0.18, 1.02)
      opacity: 0

      .name
        font-size: 11px
        font-weight: bold
        line-height: 1.2

      .date
        font-size: 10px
        font-style: italic

      .name, .date
        text-align: right

    .article-thumb:hover .article-meta
      opacity: 1
      transform: translate(0%, 0%) scale(1)


  @media (max-width: 640px)
    .desc-wrap
      margin-top: 100px
