section.latest-work
.col-1
  display: flex
  flex-direction: column
  justify-content: center
  // below button padding here!
  padding-bottom: 6.5em


// Images for 1-3 row
.img1
  background: url('../img/medicus.jpg')

.img2
  background: url('../img/timbre.jpg')

.img3
  background: url('../img/dcym.jpg')

.bkg-work
  background: url('../img/offices.png')
  opacity: 1 !important

.img1, .img2, .img3, .bkg-work
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  opacity: 0.3
  transition: all 0.5s ease-in-out

.img1:hover,
.img2:hover,
.img3:hover
  opacity: 1

.work-link
  font:
    size: 2.5rem
    weight: bold
  color: white
  display: block
  text-align: center
  padding-top: 54px
  opacity: 0
  transition: all 0.5s ease-in-out

.work-link:hover
  opacity: 100
  color: white
  background-color: rgba($primary-color, 0.35)
